{
  "overrides": [
    {
      "files": [
        "*.json",
        "*.jsligo",
        "*.ts",
        "*.tsx",
        "*.js",
        "*.jsx",
        "*.graphql"
      ],
      "options": {
        "printWidth": 79,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
